<div id="postCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item {% if loop.first %}active{% endif %}">



            <div class="carousel-caption d-none d-md-block">

                <a href="" class="btn btn-danger btn-lg mt-5">Lire +</a>
            </div>

        </div>

    </div>
    <a class="carousel-control-prev" href="#postCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#postCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>